{
"match": $jello.jsonEncode($match),
"cname": $jello.jsonEncode($cname),
"status": $jello.jsonEncode($status),
"relatedVideos": $jello.jsonEncode($relatedVideos),
"highlights": $jello.jsonEncode($highlights),
"episode": $jello.jsonEncode($episode),
"squads": $jello.jsonEncode($squads),
"toplist": $jello.jsonEncode($toplist),
"otherToplist": $jello.jsonEncode($otherToplist),
"video": $jello.jsonEncode($video),
"hotRand": $jello.jsonEncode($hotRand),
"otherMatches": $jello.jsonEncode($otherMatches),
"prev": $jello.jsonEncode($prev),
"next": $jello.jsonEncode($next),
"vid": $jello.jsonEncode($vid),
"title": $jello.jsonEncode($title),
"keywords": $jello.jsonEncode($keywords),
"description": $jello.jsonEncode($description),
"share": $jello.jsonEncode($share),
"videoType": $jello.jsonEncode($videoType),
"tags": $jello.jsonEncode($tags),
"commentId": $jello.jsonEncode($commentId),
"xinyingPlay": $jello.jsonEncode($xinyingPlay),
"aid": $jello.jsonEncode($aid),
"tNews": $jello.jsonEncode($tNews),
"showName": $jello.jsonEncode($showName),
"index": $jello.jsonEncode($index),
"isFeature": $jello.jsonEncode($isFeature),
"total": $jello.jsonEncode($total),
"yearAndMonth": $jello.jsonEncode($yearAndMonth),
"tNews": $jello.jsonEncode($tNews),
"playerData": $jello.jsonEncode($playerData),
"personalData": $jello.jsonEncode($personalData),
"textLive": $jello.jsonEncode($textLive),
"teamRank": $jello.jsonEncode($teamRank),
"chatRoomId": $jello.jsonEncode($chatRoomId),
"starDatas": $jello.jsonEncode($starDatas),
"liveDatas": $jello.jsonEncode($liveDatas),
"subjectDatas":$jello.jsonEncode($subjectDatas),
"albumDatas": $jello.jsonEncode($albumDatas),
"videoDatas": $jello.jsonEncode($videoDatas),
"videoCount": $jello.jsonEncode($videoCount),
"albumCount": $jello.jsonEncode($albumCount),
"subjectCount": $jello.jsonEncode($subjectCount),
"wd": $jello.jsonEncode($wd),
"hasTextLive": $jello.jsonEncode($hasTextLive),
"tLiveLink": $jello.jsonEncode($tLiveLink),
"textlives": $jello.jsonEncode($textlives),
"anchor": $jello.jsonEncode($anchor),
"playByPlay": $jello.jsonEncode($playByPlay),
"videoGraphicAndRichtext": $jello.jsonEncode($videoGraphicAndRichtext),
"videoNews": $jello.jsonEncode($videoNews),
"graphicAndRichtext": $jello.jsonEncode($graphicAndRichtext),
"newsType": $jello.jsonEncode($newsType),
"atlas": $jello.jsonEncode($atlas),
"prevAtlas": $jello.jsonEncode($prevAtlas),
"nextAtlas": $jello.jsonEncode($nextAtlas),
"confrontations": $jello.jsonEncode($confrontations),
"matchInfos": $jello.jsonEncode($matchInfos),
"team": $jello.jsonEncode($team),
"winMatch": $jello.jsonEncode($winMatch),
"lossMatch": $jello.jsonEncode($lossMatch),
"flatMatch": $jello.jsonEncode($flatMatch),
"showOrder": $jello.jsonEncode($showOrder),
"teamEpisodes": $jello.jsonEncode($teamEpisodes),
"competitorSeasonStatses": $jello.jsonEncode($competitorSeasonStatses),
"teamSeasons": $jello.jsonEncode($teamSeasons),
"player": $jello.jsonEncode($player),
"playerTeam": $jello.jsonEncode($playerTeam),
"playerSeasonStatses": $jello.jsonEncode($playerSeasonStatses),
"oldPlayerSeasonStatses": $jello.jsonEncode($oldPlayerSeasonStatses),
"playerTeamId": $jello.jsonEncode($playerTeamId),
"tjPackages": $jello.jsonEncode($tjPackages),
"focusMPic": $jello.jsonEncode($focusMPic),
"introduction": $jello.jsonEncode($introduction),
"posts": $jello.jsonEncode($posts),
"playerNumber": $jello.jsonEncode($playerNumber),
"frag": $jello.jsonEncode($frag),
"ssportsMid": $jello.jsonEncode($ssportsMid),
"teamStats": $jello.jsonEncode($teamStats),
"playerStats": $jello.jsonEncode($playerStats),
"careerStats":$jello.jsonEncode($careerStats),
"teamPlayerToplist":$jello.jsonEncode($teamPlayerToplist),
"teamList":$jello.jsonEncode($teamList),
"regularStats":$jello.jsonEncode($regularStats),
"playoffStats":$jello.jsonEncode($playoffStats),
"currentStats":$jello.jsonEncode($currentStats),
"teamPlayerToplist":$jello.jsonEncode($teamPlayerToplist),
"dataToplist":$jello.jsonEncode($dataToplist),
"avgStats":$jello.jsonEncode($avgStats),
"regionToplist":$jello.jsonEncode($regionToplist)
}