<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <bean id="configBean" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
                <value>classpath:hedwig.properties</value>
                <value>classpath:properties/application-swiftq.properties</value>
            </list>
        </property>
    </bean>

    <!--sms消费者配置-->
    <bean id="smsConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="amqConnectionFactory"/>
    </bean>

    <bean id="amqConnectionFactory" primary="true" name="amqConnectionFactory" class="org.apache.qpid.client.AMQConnectionFactory">
        <constructor-arg index="0" value="${sms.swiftq.connection.url}"/>
    </bean>

    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="beanName" value="SMS_MESSAGE_LISTENER"/>
        <property name="connectionFactory" ref="smsConnectionFactory"/>
        <property name="destination">
            <bean class="org.apache.qpid.client.AMQAnyDestination">
                <constructor-arg index="0" value="ADDR:	${sms.swiftq.connection.addr}; {create: always}"/>
            </bean>
        </property>
        <property name="messageListener">
            <bean class="com.lesports.qmt.msg.consumer.SmsSyncConsumer"/>
        </property>
        <property name="concurrentConsumers" value="100"/>
    </bean>

    <!--媒资swiftq消息-->
    <bean id="mmsConnectionFactory" name="mmsConnectionFactory" class="org.apache.qpid.client.AMQConnectionFactory">
        <constructor-arg index="0" value="${mms.swiftq.connection.transcode.url}"/>
    </bean>

    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="beanName" value="LETV_MMS_MESSAGE_LISTENER"/>
        <property name="connectionFactory" ref="mmsConnectionFactory"/>
        <property name="destination">
            <bean class="org.apache.qpid.client.AMQAnyDestination">
                <constructor-arg index="0" value="ADDR:${mms.swiftq.connection.transcode.queue}"/>
            </bean>
        </property>
        <property name="messageListener">
            <bean class="com.lesports.qmt.msg.consumer.MmsTranscodeMessageConsumer"/>
        </property>
        <property name="concurrentConsumers" value="100"/>
    </bean>

</beans>