{
"match": $jello.jsonEncode($match),
"cname": $jello.jsonEncode($cname),
"status": $jello.jsonEncode($status),
"relatedVideos": $jello.jsonEncode($relatedVideos),
"episode": $jello.jsonEncode($episode),
"squads": $jello.jsonEncode($squads),
"toplist": $jello.jsonEncode($toplist),
"otherToplist": $jello.jsonEncode($otherToplist),
"video": $jello.jsonEncode($video),
"hotRand": $jello.jsonEncode($hotRand),
"otherMatches": $jello.jsonEncode($otherMatches),
"prev": $jello.jsonEncode($prev),
"next": $jello.jsonEncode($next),
"vid": $jello.jsonEncode($vid),
"title": $jello.jsonEncode($title),
"keywords": $jello.jsonEncode($keywords),
"description": $jello.jsonEncode($description),
"share": $jello.jsonEncode($share),
"videoType": $jello.jsonEncode($videoType),
"tags": $jello.jsonEncode($tags),
"commentId": $jello.jsonEncode($commentId),
"xinyingPlay": $jello.jsonEncode($xinyingPlay),
"aid": $jello.jsonEncode($aid),
"tNews": $jello.jsonEncode($tNews),
"showName": $jello.jsonEncode($showName),
"index": $jello.jsonEncode($index),
"isFeature": $jello.jsonEncode($isFeature),
"total": $jello.jsonEncode($total),
"yearAndMonth": $jello.jsonEncode($yearAndMonth),
"tNews": $jello.jsonEncode($tNews),
"playerData": $jello.jsonEncode($playerData),
"personalData": $jello.jsonEncode($personalData),
"textLive": $jello.jsonEncode($textLive),
"teamRank": $jello.jsonEncode($teamRank),
"chatRoomId": $jello.jsonEncode($chatRoomId),
"starDatas": $jello.jsonEncode($starDatas),
"liveDatas": $jello.jsonEncode($liveDatas),
"subjectDatas":$jello.jsonEncode($subjectDatas),
"albumDatas": $jello.jsonEncode($albumDatas),
"videoDatas": $jello.jsonEncode($videoDatas),
"videoCount": $jello.jsonEncode($videoCount),
"wd": $jello.jsonEncode($wd),
"hasLive": $jello.jsonEncode($hasLive)
}